*{
    border: red 1px solid;
}

body{
    background-color: black;
    margin: 0;
   
   
 
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444242;
    border-radius: 10px;
    
    
   
   


}

.nav-primaria {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 24px;
    margin-left: 30px;
    justify-content: center;
    width: 1000px;
}
.nav-secundaria{
    display: flex;
    list-style: none;
    padding: 0;
}
